body {


    background-color: background: #485563;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #29323c, #485563);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #29323c, #485563);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}



#logo{
    
    font-family: gilroy;
    font-weight: 600;
    color: #EAEAEA;
    font-size: 40px;
    position: relative;
    top: 7px;
    left: 18%;
    
    
    
}


.navstyle{
    
    
    background-color: transparent !important;
    
}


.navbar-light .navbar-nav .nav-link {
    
    
    color: #EAEAEA; 
} 
    
   
    
.navbar-nav {
    
    position: relative;
    left: 56%;
    
    
    
}   
  




.navbar-light .navbar-nav .nav-link:hover {
    
 border-bottom-style: solid;
border-bottom-width: 1px;
border-bottom-color: #de595b;
    color: #EAEAEA;
    
    
}








.section {
    background-color: transparent;
    height: 100vh;
    width: 100%;
}

.title {

    font-family: Playfair Display;
    font-size: 100px;
    font-weight: 700;
    color: #EAEAEA;
}

.paragraph {

    font-size: 21px;
    font-family: Work Sans;
    line-height: 24px;
    font-weight: 200;
    color: #EAEAEA;


}



.categories {
    height: 100vh;

}





.cat-title {
    font-family: Playfair Display;
    font-size: 70px;
    color: #EAEAEA;
    text-align: center;
    vertical-align: middle;
    line-height: 100vh;
    text-shadow: 0px 1px 13px rgba(0,0,0,0.5);

}








.events {

    height: 100vh;
background-image: url(../Assets/img/Unknown.jpeg);
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease-in-out;
    

}

.events:hover {
    

background-image: url(../Assets/img/Unknownsfoc.jpg);
   
    transition: background-image 0.5s ease-in-out ;


}




.places {


    height: 100vh;
    background-image: url(../Assets/img/rawpixel-com-211022.jpg);
    background-size: cover;
    transition: background-image 0.5s ;

}

.places:hover{
    
    background-image: url(../Assets/img/sfocata-map.jpg);
   
    transition: background-image 0.5s ;
    
    
    
}

.people {

    height: 100vh;
    background-image: url(../Assets/img/DSC_0426.jpg);
    background-size: cover;
    transition: background-image 0.5s ;



}


.people:hover{
    
     
    background-image: url(../Assets/img/DSC_0426sfoc.jpg);
   
    transition: background-image 0.5s ;
    
    
}



/*
.events h2 {


    position: absolute;
    z-index: 1;


}
*/
